body {
    background: rgba(223, 63, 15, 0.171);
    

  } 



  
  #welcome { /* Centers main heading (h1) */
    font-size: 32pt;
    border-style: outset;
    width: 450px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #999; /*adds shadow to box*/
    
}

h1.ending{
    margin-top: 100px;
}

p, h1.ending{
    text-align: center;
}



h3{
    text-align: right;
    margin-right: 100px;
    margin-top: 200px;
}